<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <!-- Styles  -->
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/header-style.css">
    <link rel="stylesheet" href="assets/css/home-style.css">

</head>
<body>
    <div class="container">
        <header>
            <nav>
                <h2>Task Management > Home</h2>
            </nav>
        </header>
        <main>
            <form action="">
                <div class="form-group">
                    <input required spellcheck="false" type="text" class="title" id="title">
                    <label for="title">Title</label>
                </div>
                <div class="form-group">
                    <textarea name="" id="description" required spellcheck="false" placeholder="Description" class="description-add"></textarea>
                </div>
                <div class="form-group">
                    <button class="add" id="add" ><span>+</span>Add</button>
                </div>
            </form>
        </main>
        <div class="tasks">
            <div class="top">
                <p>Tasks</p>
            </div>
            <div class="after-top">
                <div class="middleText">
                    <p class="mt">You have nothing to do.<br>Go get some sleep.</p>
                </div>
                <!-- <div class="tasks-card">
                    <div class="card">
                        <div class="card-header">
                            <h3>test</h3>
                        </div>
                        <div class="card-body">
                            <p>test description</p>
                        </div><div class="card-footer">
                            <button>ToDo</button>
                            <a href="edit.html?id=1">
                                <img class="svg" src="./assets/images/beditor.svg">
                            </a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</body>
</html>